.info-board
{
    display: flex;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
   
    
}
.info
{
    padding: 20px;
    margin-bottom: 20px;
    flex:1;
    margin-right: 30px;
    margin-left: 10px;
    border:1px solid #18e27d;
}

.student,.staff, .message
{
    height:50px;
    width: 50px;
}
.staff-leader, .student-leader
{
     padding: 20px;
     margin-bottom: 20px;
    flex:1;
    margin-right: 30px;
    margin-left: 10px;
   border:1px solid #18e27d;
}
.leader-board
{
    display: flex;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-bottom: 2px solid #000;
    
}
.newsandevents
{
     
     width: 100%;
     height: 400;
     border-bottom: 3px solid #000;
     
}
